@charset "utf-8";
/* CSS Document */
body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 14px;
	color: #313131;
	line-height: 150%;
	background-color: white;
	padding: 0;
	margin: 0;
}
img{
	vertical-align: bottom;
	border: none;
}
a:link, a:visited, a:hover{
  color: #FAF8EF;
}
table{
	width: 100%;
	border-collapse: collapse;
}
/*よく使うクラス*/
.clear{
	clear: both;
	border: 2px solid black;
}
.red{
	color: red;
}
.right{
	text-align: right;
}
.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
		
}
.img-responsive{
	width: 100%;
	height: auto;
}
.pc{
	display: none;
}
.smp{
	display: inherit;
}
/*ブロック毎のレイアウト*/

header{
	width: 100vw;
	height: 80px;
	background-color: #4A3D32;
	padding: 0 1em;
	position: fixed;
}
header h1{
	padding: 1em 0 0.5em 0;
	margin: 0;
}
header nav{
	display: none;
	background-color: rgba(0,0,0,0.74);
	position: fixed;
	height: calc( 100vh - 80px ) ;
	top: 80px;
	right: 0;
	margin-right: 2vw
}
header nav ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	margin-top: 0;
	padding-left:0;
	list-style: none;
}
header nav li {
    font-size: 1.25em;
}
header nav a {
    display: block;
    margin: 1em 0;
    padding: 1em 0.5em;
}
main{
	background-color: #FAD668;
}
section{
	background-color: #FAF8EF;
	padding: 3em 1em;
}
section h2{
	text-align: center;
	font-size: 40px;
	color: #27180A;
    margin: 1.5em auto;
}
section h3{
	text-align: center;
	font-size: 19px;
	color: #8E8E8E;
	margin: 1.5em auto;
}
section:last-child {
  margin: 0 auto;
}
.top{
	padding: 100px 0;
}
.top h2{
	text-align: center;
	margin: 4em 0;
}
.top p{
	text-align: center;
	font-size: 17px;
	line-height: 2em;
	margin-top: 64px;
}
section#works .design_category{
	text-align: center;
	padding: 1em 0;
	margin: 3.5em 0;
}
section#works .design_category a{
	color: #27170A;
}
section#works .design_category .works_list img{
	max-width: 95%;
	height: auto;
}
section#works h3 a {
	color: #341F09;
}
section#about{
	text-align: center;
}
section#about h2{
	margin-bottom: 48px;
}
section#about h3{
	font-size: 22px;
}
section#about p{
	text-align: center;
	margin: 0 auto;
}
#about .link{
	max-width: 80px;
	margin: 1.5em auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
section#mind h3{
	margin-bottom: 48px;
}
section#mind h4{
	font-size: 20px;
	color: #707070;
}
section#skill .skillbox{
	border: 1px solid #8E8E8E;
	margin: 2.5em 0;
	border-radius: 10px;
}
section#skill .cover_skill p{
	max-width: 50vw;
	margin: 2em auto;
    text-align: center;
}
section#skill .cover_skill p:last-child {
  margin: 0 auto;
}
footer{
	color: #FAF8EF;
	background-color: #4A3D32;
	padding: 64px 1em;
	text-align: center;
}
footer h2{
	margin: 0.5em 0;
	font-size: 36px;
}
footer h3{
	background: #BF5014 0% 0% no-repeat padding-box;
	border-radius: 24px;
	font-size: 18px;
	max-width: 80vw;
	margin: 1.5em auto 2.5em auto;
	padding: 1em;
}
footer p{
	max-width: 80vw;
	font-size: 18px;
	text-align: center;
	line-height: 1.75em;
	margin: 2em auto;
}
/*ハンバーガーメニュー*/
#smp_btn{
	display: block;
	position: fixed;
	top: 0px;
	left: calc( 100vw - 85px );
	width: 62px;
	height: 62px;
	margin: 0.5em 0;
}
#smp_btn a{
	width: 62px;
	height: 62px;
}

/* PC用レイアウト */
@media (min-width: 640px) {

	
	/*PC用に段落テキストの中央揃えを解除*/
	.center_lastleft{
		text-align-last: left;
		max-width:60vw;
		margin: 0 auto;
	}
	header{
		height: 75px;
		background-color: #4A3D32;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
	}	
	header nav{
		display: inherit;
		background-color: transparent;
		position: static;
		height: auto;
	}
	header nav ul{
		display: flex;
		justify-content: space-around;
		height: auto;
		list-style-type: none;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		margin: inherit;
		width: 30vw;
	}
	header nav a {
    margin: inherit;
    padding: 0 0.25em;
	font-size: inherit;
}
	header h1{
		padding: inherit;
	}
	section#works .design_category .works_list{
		max-width: 960px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}
	section#skill .skillbox{
		border: 1px solid #8E8E8E;
		margin: 2.5em auto;
		max-width:400px;
	}
	section#skill .cover_skill{
		max-width: 400px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}
	section#skill .cover_skill p:last-child {
 	 margin: 0 ;
	}
	footer p,h3{
		max-width:50vw;
	}
	nav ul{
		
	}
	nav a{
		margin: 0 1em;
		font-size: 1.25em;
		color: #FAF8EF;
		text-decoration: none;	
	}
	#smp_btn{
		display: none;
	}
	/*作品別ページのPCレイアウト*/
	img.works_key {
    	max-width: 75%;
	}
	img.a4 {
		max-width: 40%;
	}
	.copy {
    background: linear-gradient(transparent 59%, #FAD668 70%);
    display: inline-block;
    font-size: 25px;
    padding: 7px;
	margin: 0.5em 0;
	}
}

/*作品別ページのレイアウト*/


table{
  width: 100%;
  border-spacing: 0;
}

table th{
  border-bottom: solid 2px #D7CDC2;
  padding: 10px 0;
  width: 20%;
}

table td{
  border-bottom: solid 2px #D7CDC2;
  text-align: center;
  padding: 10px 0;
}
section#works_detail{
	text-align: left;
}
section#works_detail h2{
	margin:4em auto 2em;
}
section#works_detail h3{
	margin:1.5em 0;
	color: #27180A;
	font-size: 24px;
	text-align: left;
	line-height: 1.5em;
}
section#works_detail a{
	color: inherit;
}
.center_point{
	text-align: center;
}
.center_point p{
	font-size: 20px;
}
.works_key{
	max-width: 90%;
	margin: 3em auto;
	text-align: center;
}
.copy {
    font-size: 25px;
    padding: 7px;
	margin: 0.5em 0;
	line-height: 1.5;
	}